*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
:root {
    --black-main:rgba(33, 33, 33, 1);
    --logo-black: rgba(0, 0 ,0 ,1);
    --main-blue: rgba(33, 150, 243, 1);
    --background-grey: rgba(47, 48, 58, 1);
    --main-white: rgba(255, 255, 255, 1);
    --background-white: rgba(245, 244, 250, 1);
    --main-silver: rgba(117, 117, 117, 1);
    --font-footer: rgba(255, 255, 255, 0.6);
    --background-photo: rgba(255, 255, 255, 1);
    --border-image: rgba(238, 238, 238, 1);
    --border-header: rgba(236, 236, 236, 1);
  }
  body {
    font-family: "Roboto", sans-serif;
    color: var(--black-main);
  }
  header {border-bottom: 1px solid; border-color: var(--border-header);border-top: none;}


.webstudio { font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 700; font-size: 26px;
line-height: 1.19;
width: 145px;

}



.logo { color: var(--main-blue);}
.logo2 {color: var(--logo-black);
margin-right: 93px;}
.logo3 {color: var(--main-white);}
.contact { color:  var(--main-silver);
    text-decoration: none;}
.header .link { 
  font-style: normal;
  font-weight:500; font-size: 14px; line-height: 1.14;
  color: var(--black-main);
  display:flex;
}


footer {background-color: var(--background-grey);
  height: 252px;
  max-width: 1600px;
  }
  
.baner {
  background-color: var(--background-grey);
  max-width: 1600px;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }
         
h1 { color: var(--main-white);
font-style: normal; font-size: 44px; font-weight: 900; line-height: 1.36; 
display: flex;
max-width: 696px;
max-height: 120px;
flex-wrap: wrap;
text-align: center;
}
          
.order { 
background-color: var(--main-blue);
color: var(--main-white); font-family: inherit;
border: none; font-style: normal;
font-weight: 700; font-size: 16px; line-height: 1.88; cursor: pointer;
border-radius: 4px;
margin-top: 40px;
padding: 10px 41px;}
          
.lorem { color:var(--black-main);
font-style: normal; font-size: 14px; font-weight: 700; line-height: 1.36; margin-bottom: 10px; margin-top: 0; }
      
p { color:
var(--main-silver);
font-style: normal; font-size: 14px; font-weight: 400; line-height: 1.71;}
      
.title { color:var(--black-main);
font-style: normal; 
font-size: 36px; 
font-weight: 700; 
line-height: 1.16; 
text-align: center; 
margin-top: 94px;
margin-bottom: 50px;}

      

      
.name { color:var(--black-main);
font-style: normal; font-size: 16px; font-weight: 500; line-height: 1.17; 
padding: 30px 99px 10px; }
      
.profession { color: var(--main-silver);
font-style: normal; font-size: 16px; font-weight: 400; line-height: 1.17; 
padding-bottom: 30px; }
      
    
.button { background-color: var(--background-white);
color:  var(--black-main);
border: none; font-family: inherit;
font-style: normal;
font-weight: 500; font-size: 16px; line-height: 1.63; cursor: pointer;
border-radius: 4px;
padding: 6px 22px;
    
}
    
.portfolio { font-style: normal;
font-weight: 700; font-size: 18px; line-height: 2; padding: 20px 24px 4px;}
    
.type { font-style: normal;
font-weight: 400; font-size: 16px; line-height: 1.86; padding: 4px 24px 20px;}
    
.adress { font-style: normal;
font-weight: 400; font-size: 14px; line-height: 1.71;
color: var(--main-white); padding: 0;
margin-bottom: 9px;}
    
.contact_footer {font-style: normal;
font-weight: 400; font-size: 14px; line-height: 1.86;
color: var(--font-footer); padding-top: 0px; }

.logo:active, .logo2:active , .logo3:active { color: var(--main-blue);}
.logo:hover, .logo2:hover, .logo3:hover, .logo:focus, .logo2:focus, .logo3:focus { color: var(--main-blue);}

.header .link:active { color: var(--main-blue);}
.header .link:hover, .header .link:focus { color:var(--main-blue);}

.header .contact:active {color: var(--main-blue);}
.header .contact:focus, .header .contact:hover {color: var(--main-blue);}

.adress:active, .adress:hover, .adress:focus { color:var(--main-blue);}

.contact_footer:active {color: var(--main-blue);}
.contact_footer:hover, .contact_footer:focus {color: var(--main-blue);}

.buton:active {color: var(--main-white); background-color: var(--main-blue);}
.button:hover, .button:focus {color: var(--main-white);
background-color: var(--main-blue);}

.order:active {color: var(--main-blue);}


.background-photo {background-color: var(--background-photo);
text-align: center;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);}

ul {list-style-type: none;}

a:link {
    text-decoration: none;}
 
a:link .contact {
    text-decoration: none;}

  a:visited { 
    text-decoration: none;}

  a:active { 
    text-decoration: none;}


.header-content {max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 46px;
  height: 80px;
  justify-content: space-between; 
}

.nav-header {margin-left: 93px;
margin-right: 371px; }

.lorem-wrapper {
  padding: 94px 0 0;
  display: flex;
  flex-direction: row;
  gap: 30px;}

  .lorem-item {
    width: 25%;
  }

.what-we-do {max-width: 1200px;
  width: 100%;
  padding: 0 0 94px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.what-we-do-item {
}

.our-team {
  background-color: var(--background-white);
  max-width: 1600px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
  }

.our-team-item {max-width: 1200px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 94px;
}
  .content-footer { 
    padding-left: 0;
    
  }
  .footer-item { 
    padding: 9px 0;
  }
  .webstudio-footer { 
    
    padding: 60px 0 20px;
    }
.portfolio-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
gap: 8px;
margin-top: 94px;
margin-bottom: 50px;}

.image-content {display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
max-width: 1200px;
gap: 30px;
margin-bottom: 94px;
}
.image-item {flex-basis: calc((100% - 60px) / 3);}

.border-image { border-left: 1px solid; border-bottom: 1px solid ; border-right: 1px solid;
border-color: var(--border-image);


}